@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
  background-clip: padding-box;
  padding: 1px !important;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000073;
  border-radius: 10px;
  background-clip: padding-box;
  padding: 1px !important;
}

/* SCROLLBAR END */

body {
  background-color: #3066f6;
}

.container {
  width: 80vmin;
  padding: 3rem 2rem;
  background-color: aliceblue;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.stats {
  text-align: right;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.stats span {
  font-weight: 600;
}

#quote {
  text-align: justify;
  margin: 3.25rem 0 2rem 0;
}

textarea {
  resize: none;
  width: 100%;
  border-radius: 5px;
  padding: 10px 5px;
  font-size: 1.1rem;
}

button {
  float: right;
  margin: 1.5rem 0.5rem 0;
  background-color: #3066f6;
  color: aliceblue;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  font-size: 1rem;
}

.result {
  margin-top: 2rem;
  display: none;
}

.result h3 {
  text-align: center;
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

.wrapper span {
  font-weight: 600;
}

.success {
  color: #44b267;
}

.fail {
  color: #e81c4e;
}
